* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
    font-family: 'Barlow', sans-serif;
}

header {
    display: relative;
    padding: 50px;
    width: 100%;
}

header h1 {
    text-align: center;
    font-size: 36pt;
    font-weight: bolder;
    color: #2ea5dd;
}

main {
    margin: 0 auto;
    width: 90%;
}

main section {
    padding: 50px;
    display: flex;
    border-bottom: 1px solid #2ea5dd;
    align-items: center;
}

main section div {
    display: inline;
    width: 20%;
    text-align: left;
}